/* |============================================================|
   |                                                            |
   |                  // BOOTSTRAP OVERRIDES //                 |
   |                                                            |
   ============================================================== */

body {
  background: #333;
  font-family: 'Raleway', serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

.navbar-default {
  background-color: #83285C;
  border: none;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Raleway', sans-serif;
  color: #fff; /*Change active text color here*/
}

/* |======================================================|
   |                                                      |
   |                  // CUSTOM STYLES //                 |
   |                     COLOR PALETTE                    |
   |          #BEC6F2, #5195E5, #AC5CC6, #425C8F          |
   |          #772B91, #2E36BF, #193083, #491C58          |
   |                                                      |
   |======================================================| */

.header {
  background: #a5a5a5;
  background-image: url(../img/turntables.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.entry {
  margin-top: 60px;
  color: #fff;
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #BEC6F2;
}

.contact {
  padding: 44px;
  color: white;
}

.profiles {
  background: #425C8F;
  color: white;
  padding: 66px;
}

.footer {
  clear: both;
  background: #000;
  color: #ccc;
  padding: 44px 44px 88px 44px;
}

#social > p > a > i {
  padding-left: 10px;
}

/* |======================================================|
   |                  // MEDIA QUERIES //                 |
   |======================================================| */

@media (max-width: 600px) {

}
